<% provide(:title, 'Сброс пароля') %>
<div class="modal fade reg-login-mod" id="reg-login-mod" tabindex="-1" role="dialog" aria-labelledby="reg-login-modLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to root_path, class: 'del-but close' do %>
          <i class="glyphicon glyphicon-remove" title="Закрыть окно"></i>
        <% end %>
        <h4 class="modal-title center" id="reg-login-modLabel">Сброс пароля</h4>
      </div>
      <div class="modal-body">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:h4, message, class: "alert center alert-#{message_type}") %>
        <% end %>
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>

          <%= f.label :email, 'Введите адрес Вашей электронной почты' %>
          <%= f.email_field :email, class: 'form-control', 'placeholder' => 'Ваш email' %>
          <hr>
          <%= f.submit 'Сбросить пароль', class: 'btn-main' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <%= link_to 'Вернуться на страницу входа', login_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>
