<% if logged_in? %>
  <div id="comm_form">
    <%= form_for([@article, @article.comments.build], remote: true) do |f| %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:h4, message, class: "alert center alert-#{message_type}") %>
    <% end %>
      <%#= f.hidden_field :commenter, :value => current_user.name %>
      <%= f.text_area :body, class: 'form-control', rows: 6, 'placeholder' => 'Ваш комментарий (максимум 500 символов)' %>
      <%= f.submit 'сохранить комментарий', class: 'btn btn-main' %>
    <% end %>
  </div>
<% else %>
  <textarea class="form-control" disabled="disabled" rows="6" placeholder="Комментирование статей доступно только зарегистрированным пользователям. Пожалуйста, выберите нужное действие ниже..." name="register_first" id="comment_disabled"></textarea>
  <%= link_to 'Вход', login_path, class: 'btn btn-main' %>
  <%= link_to 'Регистрация', signup_path, class: 'btn btn-main' %>
<% end %>
