<ul class="list-unstyled">
  <% @articles.each do |article| %>
    <% zebra = cycle('#EEEEEE', '#FFFFFF') %>
    <li class="li-zebra" style="background: <%= zebra %>">
      <% if logged_in? %>
        <%= link_to article.user, 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => "Автор: #{article.user.name}" do %>
          <%= image_tag article.user.avatar.url(:icon), class: 'avatar' %>
        <% end %>
      <% else %>
        <%= content_tag :span, 'data-toggle' => 'tooltip', 'data-placement' => 'top', :title => "Автор: #{article.user.name}" do %>
          <%= image_tag article.user.avatar.url(:icon), class: 'avatar' %>
        <% end %>
      <% end %>
      <span class="pull-right">
        <span class="art-date"><%= article.updated_at.strftime '%d-%m-%Y в %H:%M' %></span>
        <%= link_to article_path(article), class: 'show-but' do %>
          <i class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Читать статью"></i>
        <% end %>
        <% if current_user.try(:admin?) || current_user?(article.user) %>
          <%= link_to edit_article_path(article), 'data-no-turbolink' => true, class: 'edit-but' do %>
            <i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="top" title="Редактировать статью"></i>
          <% end %>
          <%= link_to article_path(article), method: :delete, data: {confirm: 'Серьезно?'}, class: 'del-but' do %>
            <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Удалить статью"></i>
          <% end %>
        <% end %>
      </span>
      <h4><%= link_to truncate(article.title, length: 60), article_path(article) %></h4>
      <span><%= truncate(strip_tags(article.description), length: 245) %></span>
    </li>
  <% end %>
</ul>
<%= ajax_will_paginate @articles, param_name: 'articles_page', class: 'paginator' %>
