<div class="row">

  <div class="col-md-8">
    <small class="float-left">последнее обновление: <strong><%= @article.updated_at.strftime '%d-%m-%Y в %X' %></strong></small>
    <h2 class="text-center"><%= @article.title %></h2>
    <h5 class="t-block"><%= @article.description.html_safe %></h5>
    <div id="spot" class="t-block">
      <%= @article.text.html_safe %>
    </div>
    <h4>
      <span class="prev-next pull-left">
        <%= link_to 'предыдущая статья', @article.previous_article if @article.previous_article %>
      </span>
      <span class="prev-next pull-right">
        <%= link_to 'следующая статья', @article.next_article if @article.next_article %>
      </span>
    </h4>
    <br>
  </div>

  <div class="col-md-4">
    <div class="panel panel-top">
      <div class="panel-heading">
        <h3 class="panel-title">Комментарии</h3>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
        <%= render html: '<strong>Пока что никто не комментировал эту статью</strong>'.html_safe unless @article.comments.count  > 0 %>
        <%= render @article.comments.order('updated_at DESC') %>
        </ul>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Добавить комментарий</h3>
      </div>
      <div class="panel-body">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>

</div>

<nav class="navbar-fixed-bottom" role="navigation">
  <div class="text-center">
    <%= link_to 'редактировать статью', edit_article_path(@article), 'data-no-turbolink' => true %> |
    <%= link_to 'удалить эту статью', article_path(@article), method: :delete, data: {confirm: 'Серьезно?'} %> |
    <%= link_to 'обратно к списку', articles_path %> |
  </div>
</nav>
