<% provide(:title, @article.title) %>
<div class="row">
  <div class="col-md-8">
    <div class="article-header">
      <h2><%= @article.title %></h2>
      <span>Автор: <strong><%= link_to @article.user.name, @article.user, class: 'nav-but' %></strong></span>
      <span class="pull-right">от: <strong><%= @article.updated_at.strftime '%d-%m-%Y в %H:%M' %></strong></span>
    </div>
    <div id="spot" class="t-block">
      <%= @article.description.html_safe %>
      <hr>
      <%= @article.text.html_safe %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel">
        <div class="panel-heading" role="tab" id="commentsHead">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#commentsFade" aria-expanded="true" aria-controls="commentsFade">
              Комментарии (<span id="comm-count"><%= @article.comments.count %></span>)
            </a>
          </h3>
        </div>
        <div id="commentsFade" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="commentsHead">
          <div id="comm-ajax-paginate" class="panel-body">
            <%= render 'comments/comm_list' %>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Добавить комментарий</h3>
      </div>
      <div class="panel-body">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'navbar_bottom' %>
