<h1><%= @article.title %> <small><%= @article.updated_at.strftime '%Y-%m-%d / %H:%M:%S' %></small></h1>
<p><%= @article.text.html_safe %></p>
<hr>
<%= link_to 'редактировать пост', edit_article_path(@article) %> |
<%= link_to 'назад к списку', articles_path %> |
<%= link_to 'удалить', article_path(@article), method: :delete, data: {confirm: 'Серьезно?'} %>
<hr>

<h3>Все комментарии</h3>
<%= render @article.comments %>

<h3>Добавить комментарий:</h3>
<%= render 'comments/form' %>
