<h1 class="text-center"><%= @article.title %> <small><%= @article.updated_at.strftime '%Y-%m-%d / %H:%M:%S' %></small></h1>
<p><%= @article.text.html_safe %></p>
<hr>

<h3>Все комментарии</h3>
<%= render @article.comments %>

<h3>Добавить комментарий:</h3>
<%= render 'comments/form' %>

<nav class="navbar-fixed-bottom" role="navigation">
  <div class="text-center">
    <%= link_to 'редактировать статью', edit_article_path(@article), 'data-no-turbolink' => true %> |
    <%= link_to 'удалить эту статью', article_path(@article), method: :delete, data: {confirm: 'Серьезно?'} %> |
    <%= link_to 'обратно к списку', articles_path %> |
  </div>
</nav>
