<% zebra = cycle('#EEEEEE', '#FFFFFF') %>
  <li class="li-zebra" style="background: <%= zebra %>">
    <%= gravatar_for user, size: 50 %>

    <span class="pull-right">
      <%= link_to user, class: 'show-but' do %>
        <i class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Профиль пользователя"></i>
      <% end %>

      <% if current_user.admin? || current_user?(user) %>
        <%= link_to edit_user_path(user), class: 'edit-but' do %>
          <i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="top" title="Редактировать профиль"></i>
        <% end %>
      <% end %>

      <% if current_user.admin? && !current_user?(user) %>
        <%= link_to user, method: :delete, data: {confirm: 'Серьезно?'}, class: 'del-but' do %>
          <i class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Удалить пользователя"></i>
        <% end %>
      <% end %>
    </span>

    <h4><%= link_to user.name, user %></h4>
    Зарегистрирован: <%= user.created_at.strftime '%d-%m-%Y в %H:%M' %>
  </li>
