<% provide(:title, 'Регистрация') %>
<div class="modal fade reg-login-mod" id="reg-login-mod" tabindex="-1" role="dialog" aria-labelledby="reg-login-modLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= link_to root_path, class: 'del-but close' do %>
          <i class="glyphicon glyphicon-remove" title="Закрыть окно"></i>
        <% end %>
        <h4 class="modal-title center" id="geg-login-modLabel">Регистрация нового пользователя</h4>
      </div>
        <div class="modal-body">
          <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :name, 'Введите Ваше имя' %>
            <%= f.text_field :name, class: 'form-control', 'placeholder' => 'имя' %>

            <%= f.label :email, 'Введите адрес Вашей электронной почты' %>
            <%= f.email_field :email, class: 'form-control', 'placeholder' => 'email' %>

            <%= f.label :password, 'Введите пароль' %>
            <%= f.password_field :password, class: 'form-control', 'placeholder' => 'пароль' %>

            <%= f.label :password_confirmation, 'Подтвердите пароль' %>
            <%= f.password_field :password_confirmation, class: 'form-control', 'placeholder' => 'Подтвердите пароль, пожалуйста' %>
            <hr>
            <%= f.submit 'Создать учетную запись', class: 'btn btn-main' %>
          <% end %>
        </div>
      <div class="modal-footer">
        <%= link_to 'Вход для зарегистрированных пользователей', login_path, class: 'btn btn-default' %>
      </div>
    </div>
  </div>
</div>