<% provide(:title, @user.name) %>
<div class="row">

  <div class="col-md-4">
    <% if current_user?(@user) %>
      <%= render 'shared/user_info_current' %>
      <%= render 'shared/followers_current' %>
    <% else %>
      <%= render 'shared/user_info_other' %>
      <%= render 'shared/followers_other' %>
    <% end %>
  </div>

  <div class="col-md-8 my-art-list">
    <% if @user.articles.any? %>
      <%= render 'articles/all_my_articles_list' %>
      <%= will_paginate @articles, param_name: 'articles_page', class: 'center' %>
    <% end %>
  </div>
</div>