<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= image_tag @user.avatar.url, class: 'avatar' %>
      <%= @user.name %>
      <% if current_user.admin? || current_user?(@user) %>
        <%= link_to edit_user_path(@user), class: 'edit-but pull-right' do %>
          <i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="top" title="Редактировать профиль"></i>
        <% end %>
      <% end %>
    </h3>
    <div class="center">Материалов: <strong><%= @user.articles.count %></strong></div>
  </div>
  <div class="panel-body">
    <%= render 'users/follow_form' %>
    <br><hr>

    <% if @user.birth_date? %>
      <p class="t-block">Дата рождения: <strong><%= @user.birth_date.strftime '%d-%m-%Y' %></strong></p>
    <% end %>

    <p class="t-block">Дата регистрации: <strong><%= @user.created_at.strftime '%d-%m-%Y в %H:%M' %></strong></p>

    <% if @user.about_me? %>
      <%= content_tag :p, @user.about_me, class: 'li-zebra'  %>
    <% end %>
  </div>
</div>

