<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= image_tag current_user.avatar.url, class: 'avatar' %>
      <%= current_user.name %>
      <%= link_to edit_user_path(current_user), class: 'edit-but pull-right' do %>
        <i class="glyphicon glyphicon-cog" data-toggle="tooltip" data-placement="top" title="Редактировать профиль"></i>
      <% end %>
    </h3>
    <div class="center">
      Материалов: <strong><%= current_user.articles.count %></strong>,
      Комментариевв: <strong><%= current_user.comments.count %></strong>
    </div>
  </div>
  <div class="panel-body">
      <%= link_to 'Написать статью', new_article_path, class: 'btn-main btn-profile pull-right', 'data-no-turbolink' => true %>
    <br><hr>

    <% if current_user.birth_date? %>
      <p class="t-block">Дата рождения: <strong><%= current_user.birth_date.strftime '%d-%m-%Y' %></strong></p>
    <% end %>

    <p class="t-block">Дата регистрации: <strong><%= current_user.created_at.strftime '%d-%m-%Y в %H:%M' %></strong></p>

    <% if current_user.about_me? %>
      <%= content_tag :p, current_user.about_me, class: 'li-zebra'  %>
    <% end %>
  </div>
</div>
