<!DOCTYPE html>
<html>
<head>
  <title>Типа блог</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'layouts/shim' %>
</head>
<body>
<nav class="navbar-fixed-top" role="navigation">
  <div class="text-center">
    <%= link_to 'главная страница', root_path %> |
    <%= link_to 'написать статью', new_article_path, 'data-no-turbolink' => true %> |
    <%= link_to 'все мои статьи', controller: 'articles' %>
    </div>
</nav>
<div class="container-fluid">
<%= yield %>
</div>
<div class="scroll-to-top">
  <%= link_to 'Вверх', anchor: 'top' %>
</div>
<script>
    jQuery(document).ready(function() {
        var offset = 220;
        var duration = 500;
        jQuery(window).scroll(function() {
            if (jQuery(this).scrollTop() > offset) {
                jQuery('.scroll-to-top').fadeIn(duration);
            } else {
                jQuery('.scroll-to-top').fadeOut(duration);
            }
        });

        jQuery('.scroll-to-top').click(function(event) {
            event.preventDefault();
            jQuery('html, body').animate({scrollTop: 0}, duration);
            return false;
        })
    });
</script>

</body>
</html>
